.container {
  display: flex;
}
.title {
  margin-top: 11px;
  font-weight: 200;
  margin-left: 5px;
  font-size: 20px;
  white-space: nowrap;
}
.subtitle {
  margin-left: 5px;
  white-space: nowrap;
}
.img {
  height: 40px;
  width: 40px;
}
